@import url("foreverything.css");

body {
    background-color: black;
}

table, td, th, tr {
    border: 1px solid gold;
    text-align: center;
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    color: white;
}

@media (max-width: 420px) {
    h1 {
        font-size: xx-large;
    }
}

@media print {
    nav {
        display: none;
    }
}