@import url("foreverything.css");

body {
    background-color: #1db954;
}

img {
    width: 300px;
    height: 300px;
}

table {
    color: white;
    vertical-align: middle;
}

.albumcover {
    float: left;
    margin-left: 15px;
}

.albuminfor {
    padding-top: 50px;
    margin-left: 350px;
}

.tracklist {
    color: white;
    font-size: large;
    margin-left: 20px;
    margin-top: 15px;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 5px;
}

.albuminfo {
    background-color: darkgreen;
    padding-left: 20px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 60px;
    color: white;
}

.links {
    margin-left: 360px;
}

h6 {
    font-style: italic;
    padding-top: 10px;
}

@media (max-width: 700px) {

    .albuminfo {
        padding-left: 0px;
        padding-bottom: 10px;
    }

    h1 {
        font-size: xx-large;
    }

    .tracklist {
        font-size: medium;
    }

    img {
        width: 200px;
        height: 200px;
    }

    .albumcover {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .albuminfor {
        display: flex;
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .links {
        margin-left: 0px;
        text-align: center
    }

    li {
        margin-bottom: 10px;
    }

    .tracklist {
        margin-left: 10px;
    }
}

@media print {
    .links, nav {
        display: none;
    }

    .tracklist {
        margin-top: 100px;
    }
}