@import url("foreverything.css");

body {
    background-color: black;
}

.mainheader {
    color: #1ed760;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -40px;
}

h1 {
    flex: auto;
}

h2 {
    color: #1ed760;
    text-align: center;
}


.artistpage {
    background-color: #1db954;
}

.mpicon {
    width: 200px;
    height: 200px;
}

.apalbumicon {
    width: 200px;
    height: 200px;
}

.artistpageAG {
    width: 300px;
    height: 427.5px;
}

.artistpageDL {
    width: 320px;
    height: 474.2px;
}

.artistpageH {
    width: 600px;
    height: 396px;
}

.artistpageID {
    width: 600px;
    height: 381px;
}

.artistpageLG {
    width: 300px;
    height: 450px;
}

.artistpageTS {
    width: 500px;
    height: 317.5px;
}

.infotext {
    margin: 10px;
    color: white;
    font-size: 20px;
}

.artistheader {
    margin: 10px;
    color: white;
    text-align: center;
}

.albumlist {
    margin-left: 20px;
}

table {
    flex: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    vertical-align: middle;
}

.albumtable {
    border: 3mm;
    border-style: double;

}

.albumcolumn {
    width: 300px;
}

.achievlink {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.hello {
    padding: 50px;
    color: white;
    text-align: center;
    font-size: larger;
}

.artistpic {
    float: right;
    display: flex;
}

@media (max-width: 990px) {
    .mainheader {
        margin-bottom: -40px;
    }

    .name {
        font-size: xx-large;
    }

    .mpicon {
        width: 150px;
        height: 150px;
    }

    .hello {
        font-size: large;
    }

    .artistpic {
        margin-right: auto;
        margin-left: auto;
        float: none;
    }

    .artistpageAG {
        width: 100%;
        height: 100%
    }

    .artistpageTS {
        width: 100%;
        height: 100%;
    }

    .artistpageH {
        width: 100%;
        height: 100%;
    }

    .artistpageDL {
        width: 100%;
        height: 100%;
    }

    .artistpageID {
        width: 100%;
        height: 100%;
    }

    .artistpageLG {
        width: 100%;
        height: 100%;
    }

    .albumlist {
        margin-left: auto;
        margin-right: auto;
    }

    .apalbumicon {
        width: 100px;
        height: 100px;
    }

    .infotext {
        font-size: medium;
    }

    .achievlink {
        font-size: x-large;
    }

    .info, .infoalb {
        font-size: large;
    }
}

@media (max-width: 530px) {

    .mpicon {
        width: 85px;
        height: 85px;
    }

    .namelink {
        font-size: small;
    }
}

@media print {
    h2, nav, .achievlink, .infoalb, .artistpic {
        display: none;
    }
}